.racer_table td {
  background-color: #ddd;
  height: 20px;
  width: 20px;
}

.racer_table tr {
  border: 1px solid black;
  margin: 10px;
}

.racer_table td.active {
  background-color: #aaa;
  text-align: center;
}
