<div class="container">
  <h1>Welcome to Ruby Racer!</h1>

<form action="/creategame" Method="POST">
   Player 1:<input type="name" name="player1_name" placeholder="Player 1 Name">
   Player 2:<input type="name" name="player2_name" placeholder="Player 2 Name">
   <input type="submit" value="submit">
 </form>

</div>
