<div id="welcome" >
  <h1> Two Player Skizzle!</h1>

</div>
<div class="container">
  <div id = "dice">
  <img src="/1.png" alt="the roll"><img src="/2.png" alt="the roll"><img src="/3.png" alt="the roll"><img src="/4.png" alt="the roll"><img src="/5.png" alt="the roll"><img src="/6.png" alt="the roll">
  </div>

<form action="/creategame/playerstwo" Method="POST">
  <div id='lin'>
   Player 1 :  <input type="name" name="player1_name" placeholder="Player 1 Name">
 </div>
 <div id='lin'>
   Player 2:  <input type="name" name="player2_name" placeholder="Player 2 Name"><br>
   <input id="button" type="submit" value="Let's Play">
 </div>
 </form>

</div>

<div id="dialog" title="All Time Leaderboard">
  <ul>
  <% if @high_score.length >= 1 %>
  <% @high_score.each do |player| %>
  <li><%= player.name.capitalize %>: <%= player.score %></li><br>
  <% end %>
  <% end %>
</ul>
</div>
<% if @high_score.length >= 1 %>
<button id="opener">Leaderboard</button>
<% end %>

